@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #ffffff;
}
header img {
  width: 50px;
}
header .nav-item {
  border-right: 1px solid #ccc;
}
header .nav-item:last-child {
  border-right: none;
}
header .nav-link {
  color: #000;
  font-weight: 400;
}
header .dropdown-item {
  font-size: 13px;
}

header.open {
  background-color: #fa789c;
  transition: 0.3s;
  font-size: 12px;
}

.hero {
  position: relative;
  height: 500px;
}
.hero .carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero .carousel-caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.hero h1 {
  font-family: "Impact";
  font-size: 80px;
  color: #ea1948;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Bottom-right shadow */
}
.hero p {
  text-shadow: 4px 3px 0 #000;
  font-size: 16px;
}

/* Extra Small Devices (Phones) */
@media (min-width: 320px) and (max-width: 480px) {
  header img {
    width: 40px;
  }
  header .navbar-toggler {
    border: none;
    cursor: pointer;
  }
  header .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  .hero {
    position: static;
    height: 170px;
    margin-top: 20%;
  }
  .hero .carousel-caption {
    top: 50%;
  }
  .hero h1 {
    font-family: "Impact";
    font-size: 22px;
    color: #ea1948;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Bottom-right shadow */
  }
  .hero p {
    text-shadow: 4px 3px 0 #000;
    font-size: 7px;
    padding: 0 35px;
  }
}
/* Small Devices (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .hero .carousel-caption {
    top: 60%;
  }
  .hero h1 {
    font-family: "Impact";
    font-size: 30px;
    color: #ea1948;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Bottom-right shadow */
  }
  .hero p {
    text-shadow: 4px 3px 0 #000;
    font-size: 7px;
  }
}
/* Medium Devices (Laptops) */
@media (min-width: 769px) and (max-width: 1024px) {
  header .nav-link {
    font-size: 12px;
  }
  .hero .carousel-caption {
    top: 60%;
  }
  .hero h1 {
    font-family: "Impact";
    font-size: 50px;
    color: #ea1948;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; /* Bottom-right shadow */
  }
  .hero p {
    text-shadow: 4px 3px 0 #000;
    font-size: 12px;
  }
}